@charset "utf-8";


body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-color: #010326;
  box-sizing: border-box;
  margin: 0;
}

.gradiente {
  position: absolute;
  z-index: 1;
  right: -5%;
  top: -5%;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-image: radial-gradient(rgb(96, 119, 65), rgba(35, 156, 33, 0));       
}

/* MENU MOBILE */ 
#openNav{
  z-index: 2;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #010326;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: solid 3px #D9D9D9;
  background-image: linear-gradient(to bottom, rgba(14, 235, 10, 0) 50%, rgba(14, 235, 10, 1));
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #D9D9D9;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, #main span:hover{
  color: #0FEC0B;
  text-decoration: underline;  
  margin: 0 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 36px;
  margin-right: 50px; 
}


#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: margin-right .5s;
  background-color:#010326;
  color: #D9D9D9;
  width: 100%;
  font-size: 30px;
}

#main img {
  min-width: 50%;
  width: 50%;
  margin-left: 5%;
}

#main span{
  padding: 30px;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */


/* CARROSSEL MOBILE  */

.mySlides {
  display: none;
}

#carrossel {
 vertical-align: middle;
 border-radius: 15px;
 height: 50%;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto 30px;
}

.slideshow-container img{
  width: 100%;  
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 1px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0FEC0B;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */


/* REDES SOCIAIS */

.redesSociais {
  position: fixed;
  top: 10px;
}

#redes a {
  position: absolute;
  left: -75px;
  transition: 0.3s;
  padding: 8px;
  width: 100px;
  text-decoration: none;
  font-size: 10px;
  color: #FFF;
  border-radius: 0 5px 5px 0;
  text-align: end;
}

#redes img{
  width: 25px;
  height: 25px;
}

#redes a:hover {
  left: 0;
  background-color: #0ebb0b;

}

#whatsapp {
  top: 300px;
  background-color: #0a5e09;
}

#instagram {
  top: 350px;
  background-color: #0a5e09;
}

#email {
  top: 400px;
  background-color: #0a5e09;
}

/* Iframe quem somos */

.somos{
  margin: 50px auto;
  width: 75%;
  height: 250px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
  font-size: 14px;
}

.somos h4{
  font-size: 16px;
}

/* ACORDEON SERVIÇOS Mobile */

#titulo{
  text-align: center;
  margin-top: 70px;
  color: #D9D9D9;
}

.acordeon {
  margin: 0 10%;
}

.accordion, .panel {
  box-sizing: border-box;
  width: 100%;
  padding: 18px;
}

.accordion {
  background-color: #010326;
  color: #D9D9D9;
  cursor: pointer;
  border: 1px solid #0FEC0B;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;  
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: #0FEC0B; 
  color: #010326;
}

.accordion:after {
  content: '\002B';
  color: #D9D9D9;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  font-size: 13px;
  display: none;
  background-color: #010326;
  overflow: hidden;
  color: #D9D9D9;
  border: 1px solid #0FEC0B; 
}

/* MODAL */


#myBtn{
  margin: 100px 100px;
}


/* Fundo do Modal */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  display: flex; 
  flex-direction: column;
  background-color: #010326;
  margin: 5%;
  padding: 20px;
  border: 1px solid #0FEC0B;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
}

/* Botão de fechar */
.close {
  color: #0FEC0B;
  float: right;
  font-size: 28px;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#imagensModal{
  width: 80px;  
  border-radius: 6px; 
  border: 1px #0FEC0B solid;

}

.modalTexto{
  width: 230px;
  height: 90px;
  margin-top: 10px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
  font-size: 10px;
}

/* BENEFICIOS */

.cardsBene{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 5%;
}

.beneficios{
  margin: 100px 10px;
  width: 50%;
  height: 200px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
  font-size: 12px;
}

.beneficios h4{
  font-size: 14px;
}

/* FOOTER */

footer {
  margin-top: 80px;
  height: 260px;
  background-image: linear-gradient(to bottom, rgba(14, 235, 10, 0), rgba(14, 235, 10, 1));
  color: #fff;
}


.menu-rodape {
  display: flex;
  justify-content: space-evenly;
}

.loja ul {
  list-style: none;
  font-size: 12px;
  padding: 15px;

}

.loja {
  margin: 10px 10px auto;
  padding: 5px;
}

.direitos {
  margin-top: -30px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}



