body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-color: #010326;
}

.gradiente {
  position: absolute;
  right: -40px;
  top: -25px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: radial-gradient(rgb(96, 119, 65), rgba(35, 156, 33, 0));       
}

/* MENU MOBILE */ 

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #010326;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: solid 3px #D9D9D9;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #D9D9D9;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, #main span:hover{
  color: #0FEC0B;
  text-decoration: underline;  
  margin: 0 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right .5s;
  background-color:#010326;
  color: #D9D9D9;
  width: 100%;
  font-size: 30px;
}

#main img {
  min-width: 50%;
  width: 50%;
}

#main span{
  padding: 30px;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */


/* CARROSSEL MOBILE  */

/* 
* {box-sizing: border-box;}
*/

.mySlides {
  display: none;
}

#carrossel {
 vertical-align: middle;
 border-radius: 15px;
 height: 150px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto 30px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 1px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0FEC0B;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */


/* REDES SOCIAIS */

#redes a {
  position: absolute;
  left: -75px;
  transition: 0.3s;
  padding: 8px;
  width: 100px;
  text-decoration: none;
  font-size: 10px;
  color: #FFF;
  border-radius: 0 5px 5px 0;
  text-align: end;
}

#redes img{
  width: 25px;
  height: 25px;
}

#redes a:hover {
  left: 0;
  background-color: #0ebb0b;

}

#whatsapp {
  top: 300px;
  background-color: #0a5e09;
}

#instagram {
  top: 350px;
  background-color: #0a5e09;
}

#email {
  top: 400px;
  background-color: #0a5e09;
}

/* Iframe quem somos */

.somos{
  width: 75%;
  height: 250px;
  margin: 30px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
}

/* ACORDEON SERVIÇOS Mobile */

#titulo{
  text-align: center;
  margin-top: 70px;
  color: #D9D9D9;
}


.accordion { 
  margin-left: 15%; 
  background-color: #010326;
  color: #D9D9D9;
  cursor: pointer;
  padding: 18px;  
  width: 220px;
  border: 1px solid #0FEC0B;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;  
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: #0FEC0B; 
}

.accordion:after {
  content: '\002B';
  color: #D9D9D9;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 9.7%;
  display: none;
  background-color: #010326;
  overflow: hidden;
  color: #D9D9D9;
  width: 152px;
  border: 1px solid #0FEC0B;  

}

/* MODAL */


.myBtn{
  margin-top: 50px;
}


/* Fundo do Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #010326;
  margin: 5%;
  padding: 20px;
  border: 1px solid #0FEC0B;
  width: 70%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #0FEC0B;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#imagensModal{
  width: 70px;
  height: 50px; 
}

.modalTexto{
  margin: 15px 5px;
  height: 200px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
}

/* Beneficios */

.cardsBene{
  display: flex;
  align-items: center;
}

.beneficios{
  margin: 100px 10px;
  width: 200px;
  height: 300px;
  background-color: #D9D9D9;
  border: 2px solid #0FEC0B;
  border-radius: 10px;
  color: #000;
  overflow: auto;
  padding: 8px;
}


/* FOOTER */

footer {
  margin-top: 80px;
  height: 260px;
  background-image: linear-gradient(to bottom, rgba(14, 235, 10, 0), rgba(14, 235, 10, 1));
  color: #fff;
}

.menu-rodape {
  display: flex;
  justify-content: space-evenly;
}


.loja ul {
  list-style: none;
  font-size: 12px;
  padding: 15px;

}

.loja {
  margin: 10px 10px auto;
  padding: 5px;
}

.direitos {
  margin-top: -30px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}



